h1{
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  margin: 50px;
}

#display{
  border: 1px solid black;
  grid-column: 1 /5;
  background-color: #e3fade;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 36px;
  padding: 15px;
  text-align: right;
}

#zero{
  grid-column: 1/3;
}

#calculator{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 500px;
  width: 350px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 6px;
}

::placeholder{
  color: black;
}

.number{
  text-align: center;
  border: 1px solid darkgray;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

.number:hover{
  background-color: #cccccc;

}

.operation{
  text-align: center;
  background-color: #16C85D;
  border: solid 1px green;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

.operation:hover{
  background-color: #14b856
}

.operation2{
  text-align: center;
  background-color: springgreen;
  border: solid 1px green;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
}

.operation2:hover{
  background-color: #00e673;
}
